[submodule "lib/node-multipart"]
	path = lib/node-multipart
	url = https://github.com/TooTallNate/node-multipart-stack.git
[submodule "lib/multipart-js"]
	path = lib/multipart-js
	url = https://github.com/isaacs/multipart-js.git
[submodule "lib/formidable"]
	path = lib/formidable
	url = https://github.com/felixge/node-formidable.git
[submodule "lib/express"]
	path = lib/express
	url = https://github.com/visionmedia/express.git
[submodule "lib/connect"]
	path = lib/connect
	url = https://github.com/senchalabs/connect.git
[submodule "lib/mime"]
	path = lib/mime
	url = https://github.com/bentomas/node-mime.git
[submodule "lib/qs"]
	path = lib/qs
	url = https://github.com/jazzychad/querystring.node.js.git
