!!!
%html
  %head
    %title My Smallish Uploader
    %link{rel: 'stylesheet', href: '/stylesheets/application.css', type: 'text/css', media: 'all'}
    %script{src: '/javascripts/jquery-1.6.min.js', type: 'text/javascript'}
    %script{src: '/javascripts/application.js', type: 'text/javascript'}
  %body
    %div#content
      %div#title Uploader
      %form#file_upload_form{method: 'post', enctype: 'multipart/form-data', action: '/'}
        %input{type: 'hidden', name: 'upload_id', id: 'upload_id'}
        %input{name: 'file', id: 'file_input', size: '27', type: 'file'}
        %div
          %span#upload_progress Status 420%
          %a{href: '#', id: 'link_to_file'} Uploaded to here.
        %br
        %textarea{rows: 5, cols: 30, visibility: 'hidden'}
        %input{type: 'submit', name: 'action', value: 'Upload'}
        %iframe#upload_target{name: 'upload_target', src: ''}
