<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Download</title> 
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="all"/> 
</head> 
<body> 
	<div id="content"> 
		<div id="title">Download</div> 
		<p id="comment"><%= file_comment %></p>
		<a href="<%= file_url %>" id="link_to_file">Download file</a>
	</div>
</body>
</html>
