body {
	background-color: #ccc;
  color: #221111;
  margin: 0px;
  padding: 0px;
	align: center;
}

#title {
	color: #333;
	font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	border-bottom: 1px solid black;
}

#header {
  width: 100%;
  color: #999966;
  background-color: #221111;
  margin: 0px 0px 20px 0px;
  padding: 5px;
}

#content {
	border: 1px solid black;
	background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
	box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	border-radius: 10px;
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#upload_target {
  width: 0;
  height: 0;
  border: 0px solid white;
}

.hidden {
	display: none;
}

#submit_comment {
	width: 100%;
}

.textarea_container {
	display: block;
	padding: 5px;
}

textarea {
	width: 100%;
	height: 150px;
	margin: 0;
	padding: 0;
}
