$darkmagenta: #221111
$cream: #999966
$lightblue: #559999

html, body
  height: 100%

body
  background-color: $cream
  color: $darkmagenta
  margin: 0px
  padding: 0px

#header
  width: 100%
  color: $cream
  background-color: $darkmagenta
  margin: 0px 0px 20px 0px
  padding: 5px

#content
  padding: 20px

#upload_target
  width: 0
  height: 0
  border: 0px solid white
